:root{
    --rows: 2;
    --cols: 4;
    --img-height: 240px;
    --img-width: 300px;
}

*{
    padding: 0; margin: 0; outline: 0; border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.container{
    display: flex;
    border: 2px solid #000;
    width: fit-content;
}

#sheet{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.row{
    display: flex;
    height: 100%;
    width: fit-content;

}

.img-loader{
    display: none;
}

.visible{
    display:inline-block;
}

.img-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: var(--img-width);
    height: var(--img-height);
}

button{
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.2);
}

button:focus{
    border: 1px solid rgba(0,0,0,.8);
}

input {
    font-size: 1.3rem;
    border: 1px solid rgba(0,0,0.5);
    width: 150px;
    padding: 5px;
}

.top-left{
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 1.2rem;
}